[2018-07-30 23:37] grant opened #1 "Imports are not removed during transpilation."
The import statement is auto-created in IntelliJ but cannot be pushed to Apps Script. Comment these lines out.

[code]

Note: this will not prevent multi-line imports.

[2018-08-01 02:16] grant commented on #1
Fixed in 8770b384b93c5abd8746c88255689c9f96841ff4

[2018-08-01 02:16] #1 closed

[2018-11-20 17:56] pozhidaevak opened #2 "Comment out `export` statements"
Export statements like `export * from "file"` should be commented out as they are translated to code with `require()` that is not supported by google script
However `export val` and `export function` seem to work fine.

@grant  also suggested to comment out `__export()`

Will try to create a PR for this issue...

[2018-11-20 18:45] grant commented on #2
@pozhidaevak I'm really not sure what the case would be. `__export` is not valid in Apps Script of course.

Can you provide example expected INPUT and OUTPUT code?

[2018-11-20 18:51] pozhidaevak commented on #2
@grant It is kind of follow up of [this issue](https://github.com/google/clasp/issues/408)
On that issue, you suggested to comment `__export` but `__export` is actually in the OUTPUT when `export` is in INPUT. So I don't see why `__export` should be commented... I think there is no use case for `__export` be in the input. But I'm new to js so I may be wrong...
Both input and output are presented i

[2018-11-20 19:03] grant commented on #2
So ts2gas work like:
- Take ts
- Transpile to gs
- Add this line to fix export errors:
[code]

I think we may need to additionally test that `export *` transpiling works.
- Add some tests
- Add any necessary transforms.

[2018-11-20 19:08] pozhidaevak commented on #2
@grant , I thought you were ok with me just commenting out `export *` in input for ts2gas.
Here is how it looks:
[code]
the result is not valid due to `require()`

so I want to make it look like
[code]

[2018-11-20 19:09] grant commented on #2
@pozhidaevak, Yes, commenting `export *` before transpiling sounds good. I haven't tried it.

[2019-01-03 23:27] PopGoesTheWza opened #4 "TypeScript 3.* support"
ts2gas currently support TypeScript up to 2.9.2. Is there any reason to this limit (beside the package.json dependency of course) ?

[2019-01-03 23:30] PopGoesTheWza opened #5 "(minor) multiple lines import statement improperly commented out"
This is minor but if you have a long import statement and spread it on multiple lines, only the first line gets commented out... which cause errors obviously.

[2019-01-03 23:31] grant commented on #4
No reason. PRs welcome!

[2019-01-03 23:33] grant commented on #5
Yes, this is a bug.
I'm not sure how to fix it. Maybe it would require parsing the TS.

[2019-01-04 18:59] #4 closed

[2019-01-04 22:33] PopGoesTheWza commented on #5
@gran looking at TypeScript source I ran into its TransformationAPI. It is not documented on the website nor the GitHub wiki but there are a few tests using it.
Broadly, it allows to attach to the transpiler options arrays of callback functions before and after transpiling (not relevant here but there is also an afterDeclaration which is used when emiting .d.ts)
Those callbacks can check the conte

[2019-01-05 08:12] grant commented on #5
LMK if #9 fixes this, so we can close this issue.
Thanks!

[2019-01-05 14:13] aurantiumCfstBN opened #10 "No index.js"
I installed ts2gas with @google/crasp by npm. But it does not work.

Error: Cannot find module 'ts2gas'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (C:\Users\<user>\AppData\Roaming\npm\node_modules\@google

[2019-01-05 17:08] grant commented on #10
I think I forgot to build before publishing. Can you try `ts2gas@1.4.1`?

[2019-01-07 02:45] PopGoesTheWza commented on #5
Latest PR address the issue

[2019-01-07 02:45] #5 closed

[2019-01-10 06:44] awa2 opened #16 "Variable names changed when using import"
[code]
It transpiled below:
[code]
So, `TypeScriptModule_1 is not found` error has occuerd.

----
I know ignoring import/export statements has merged at issue#5, and it's a great work!
Adding `_1` into module variable name when using TS module import, is it properly transpiling or not ?
If it's correct convert of TypeScript, I should update my TypeScript codes for Google Apps Script.
How should I

[2019-01-10 08:56] PopGoesTheWza commented on #16
@awa2 (cc @grant )
It looks like `ts.transpileModule()` when given:
[code]
transpile it into
[code]
and ts2gas is dropping the first statement.

Q1: which version of ts2gas are you using?
Q2: since `require()`is not support by GAS, what output would you expect/deem correct?

[2019-01-10 14:10] PopGoesTheWza commented on #16
@awa2 @grant I have a fix which I will PR asap

[2019-01-10 17:20] PopGoesTheWza opened #18 "transformer `removeExportEsModule`is overdoing it"
Sample test with missing exports
[code]

[2019-01-10 18:31] PopGoesTheWza commented on #18
Correct output with latest PR
[code]

[2019-01-11 02:09] awa2 commented on #16
Thank you, @PopGoesTheWza !

I got #17 and tried it.
It seemed that issue has fixed, but there are breaking changes from ts2gas@1.3.0.
I'm using ts2gas@1.3.0 with clasp, so it

Transpile differences between `ts2gas@1.3.0` and `ts2gas@`e955994 are below:

### Original TS code
[code]
### ts2gas@1.3.0 with typescript@3.2.2
[code]
This is what I expect.

### ts2gas@e955994 with typescript@3.2.2
[code]

[2019-01-11 03:15] PopGoesTheWza commented on #16
@awa2 i have `var module = new Module();`fixed (no commit yet)
regarding the submodules, can you  please try with ts2gas 1.3.0 and 1.5.0 the following:
[code]

[2019-01-11 19:14] PopGoesTheWza commented on #18
Confirmed as fixed with latest PR

[2019-01-11 19:14] #18 closed

[2019-01-11 19:15] PopGoesTheWza commented on #16
@awa2 if you want to test the latest PR which as been merged...

[2019-01-12 05:30] awa2 commented on #16
@PopGoesTheWza
I tested #20 , and it looks like all be good!

[code]
vvv
[code]

Thank you!

[2019-01-12 05:31] #16 closed

[2019-01-17 13:56] PopGoesTheWza opened #23 "(Minor) some comments around ignored statements are lost through transpileModule"
Excerpt from current `npm run test`, notice how the first comment `next statement will be ignored` is missing from the output.
[code]

When applying transformers over statements to ignore, leaning/trailing comments attributes should be checked and applied to the transformed statements.

**Pro-tip** use this AST explorer online tool to explorer the transpileModule AST tree https://astexplorer.net/

[2019-01-21 11:22] PopGoesTheWza opened #24 "within arrow functions `this` must be substitute with `_this`"
@grant I added a test case and narrowed the scope of the `noSubstitution` transformer to correct this issue in the open PR.

[2019-01-21 16:00] PopGoesTheWza commented on #23
Tried but failed (so far) at retrieving leading and trailing comments.

[2019-01-21 18:21] paxperscientiam opened #25 "This is screwing up arguments with default values"
Hello,

The following only holds if Google is using your library, as it seems. Transpiled files now start with this commend: "// Compiled using ts2gas 1.5.0 (TypeScript 3.2.4)"

Just started getting "InternalErrors" in appscript recently and it seems due to how `ts2gas` handles arguments with default values.

For example,
[code]
This is now getting converted to this:
[code]
Which sucks, because I

[2019-01-21 19:32] PopGoesTheWza commented on #25
@grant inded, using code from latest PR, seems ok to me:

[code]

[2019-01-21 19:36] PopGoesTheWza commented on #24
Fixed with 1.6.0

[2019-01-21 19:36] #24 closed

[2019-01-21 19:41] paxperscientiam commented on #25
Hi @grant , OK, so i'm not losing my mind.

Also, I see now that I didn't include the file heading:
[code]
I'll reference your comment in the issue I opened for clasp. Thanks 👍

[2019-01-21 19:57] grant commented on #25
Closing as I can't repro this.
Please re-open if this is still an issue.
I just bumped clasp's ts2gas too.

[2019-01-21 19:57] #25 closed

[2019-01-21 20:11] paxperscientiam commented on #25
@grant per my amended comment, the problem was with `ts2gas` 1.5

[2019-02-04 01:36] paxperscientiam opened #26 "require and import"
There's a note in the readme indicating that `noLib` is fixed at false. Does that mean `ts2gas` does *not* currently handle imports? Like, I'm trying to import a module, but nothing seems to happen.

Thanks.

[2019-02-04 01:49] grant commented on #26
ES Modules aren't supported in this library. (for `require` and `import`)
I think some developers have their own webpack setup for TypeScript compilation.
- https://github.com/naoki-sawada/gas-typescript-webpack
- https://stackoverflow.com/questions/48791868/use-typescript-with-google-apps-script

`noLib` just removes things like `window`, `document` from autocompletion.
- https://basarat.gitbooks

[2019-02-07 15:28] angrykoala commented on #26
import is not supported and it is commented out by ts2gas, however `export` is actually transpiled into exports.foo=foo, this completely breaks the compiled appscript, as foo is not part of the global scope and imports are simply commented out.

Is there a way to disable this behavior, so both import and export are simply commented out?

[2019-02-13 08:46] jakenjarvis opened #27 "Inheritance class becomes TypeError in load order."
Just because the inherited class has a different loading order(alphabetical), it becomes "TypeError: Cannot read property 'prototype' of undefined". [Screen shot](https://github.com/jakenjarvis/clasp-ts-sample/blob/master/IssueSample/Issue01/TypeErrorLine14.png)

I created a sample project to convey this.

## Expected Behavior
case OK:
https://github.com/jakenjarvis/clasp-ts-sample/tree/master/Iss

[2019-03-05 17:15] dustinmichels opened #28 "Error in tsconfig.json when npm installed"
I ran `npm install ts2gas` and installed version 1.6.0. My IDE warns me about an error in the "tsconfig.json" file:

[code]

Is something configured incorrectly?

[2019-03-10 07:29] grant commented on #27
Can you please put the code that is wrong in the GitHub issue?

Please provide a simple test case.

[2019-03-10 07:35] grant commented on #28
I'm not able to repro this issue.
Can you provide more detail?

This is what I see:
[code]

[2019-03-10 07:40] grant commented on #26
@paxperscientiam @angrykoala Can you provide some test cases so we can test and fix this?

@PopGoesTheWza has written most of this library, so you may want to check up on the case with him/her.

[2019-03-10 10:28] angrykoala commented on #26
[code]
*my_foo.ts*

[code]
*main.ts*

This should transpile to valid Appscript, preferably by overriding export/import (a lá browserify) but at the very least should completely ignore export and import:

[code]
*my_foo.gs*

[code]
*main.gs*

I hope these examples help?

[2019-03-10 15:16] byerun opened #29 "Multi-line import statements creates invalid Apps Script"
## Expected Behavior
Multi-line typescript import statements translated correctly

## Actual Behavior
The translated Apps Script code is invalid

## Steps to Reproduce the Problem

1. Create a multi-line typscript import statement such as
[code]
2. Have clasp push to remote project

The translated code will have a "\n" embedded along with invalid lines:
[code]

Attempting to run the code will prod

[2019-03-11 09:51] jakenjarvis commented on #27
@grant thank you for confirmation. I'm not good at English, so it is difficult to explain. So I decided to show the source code. My explanation may not have been enough.

This sample presented by me is a simple test case. Please also check the README.

 - [ProjectNormal/README.md](https://github.com/jakenjarvis/clasp-ts-sample/blob/master/IssueSample/Issue01/ProjectNormal/README.md)
 - [ProjectAbn

[2019-03-11 17:57] takanakahiko commented on #29
I think that this line is causing problems.

https://github.com/grant/ts2gas/blob/4f7827164187c6d8deb2c9a259b1312061f2ab0b/src/index.ts#L20

In general, `replace( 'A', 'B' )` replaces A with B only once.
Therefore, if an import statement exceeds two lines, you can not delete a line break completely.

See also : https://www.w3schools.com/jsref/jsref_replace.asp

So, I propose using regular expressi

[2019-03-11 19:23] #29 closed

[2019-03-11 19:31] grant commented on #29
Thanks for the report and fix.
#30 was published with `1.6.1`.

Please create a PR to update this dependency in `clasp`.

[2019-03-12 08:32] PopGoesTheWza commented on #26
@angrykoala please specify your build/publish workflow. Currently `ts2gas` is not designed to transpile more than one source `.ts` file at a time.

With my (little and very personal) use of `clasp`/`ts2gas`, I hardly had to mess with `export` and `import:
- I use `export` in the source code of GAS libraries (with its `.d.ts`)
- I adapt the library `.d.ts' file to be "this is a gas library" friendl

[2019-03-12 09:45] angrykoala commented on #26
the problem I have is that export is being transpiled instead of ignored, so I need to manually remove the generated code. Simply ignoring it (like it happens with import) would be enough and will work on transpiling one file at a time

[2019-03-12 09:59] PopGoesTheWza commented on #26
@paxperscientiam please bear with my slowmindedness...

Checking at the result of `ts2gas`test suite:
[code]
Most `export` statements are removed or ignored during transpiling. Classes, functions and variables end up producing the following:
[code]
Are those the lines you wish would not be produced? What is the impact of those lines being in your gas?

[2019-03-12 10:11] PopGoesTheWza commented on #26
incidentally, I now wonder why `export enum Languages ...` produces an incorrect `(Languages = Languages || (Languages = {}))`
The correct resulting javascript should read `(Languages = exports.Languages || (exports.Languages = {}))`

@grant I'll investigate this sometime this week.

[2019-03-12 10:20] angrykoala commented on #26
@PopGoesTheWza Yep, those are the things that I would like to ignore (thanks, sorry for not explaining myself, it was quite some time ago since I had this problem), unless import actually access the "export" global variable" it is impossible for the code to reach these variables

thanks

[2019-03-12 11:36] PopGoesTheWza commented on #26
@angrykoala I failed to see the use of `export` (for classes, functions, enums and variables) unless when producing a gas **library**. Does this match your use case?

If you are solely producing "alongside `.gs` scripts", they all exist in the same global namespace:
**Code.gs**
[code]
**lib.gs**
[code]
Is there something obvious I am overlooking?

[2019-03-12 14:16] angrykoala commented on #26
lets assume 2 files in ts:
[code]

[code]

It will transpile to:

[code]

[code]

As you can see, the Foo in the second file won't be found because Foo is not in the global scope, but in the object exports.

[2019-03-12 15:29] PopGoesTheWza commented on #26
@angrykoala are you using `clasp` to publish your two files? If you have src1.ts and src2.ts, doesn't it ends up as src1.gs and src2.gs in your gas document?

[2019-03-12 21:49] angrykoala commented on #26
Yes, that's correct,but the class Foo won't be found in src2.gs because it is not declared in the global scope of src1.gs, but as part of the exports object

[2019-03-12 21:53] grant commented on #28
Please provide more details in future issue reports.

[2019-03-12 21:53] #28 closed

[2019-03-12 21:56] grant commented on #27
I cannot debug your project's code. Please tell me the exact problem with `ts2gas`.
There's a config in clasp to change the load order if you need that.

[2019-03-12 22:14] PopGoesTheWza commented on #26
@angrykoala odd... for this does not match my (limited) experience. Maybe it is related to my project settings, but when pushing src1.ts and src2.ts, I get in my gas project src1.gs and src2.gs which share the same global namespace... hence src1.gs call functions from src2.gs as if they were alongside in a single file.
To illustrate, you may give a look at https://github.com/PopGoesTheWza/swgoh-tb

[2019-03-12 22:16] angrykoala commented on #26
As I see, you are defining namespaces instead of directly exporting a class from the fule, maybe that's the reason the namespace is available across multiple files?

[2019-03-12 22:24] PopGoesTheWza commented on #26
@angrykoala I added namespaces later on, in order to organise sets of function of classes in a semantically meaningful... manner. It also serves the purpose of disallowing direct use from Google Sheets formula, but this is another topic.
Also note that the same namespace definition can appear in several files, hence src1.ts and src.2.ts can both add stuff to a single namespace.
Still, any function

[2019-03-12 22:28] angrykoala commented on #26
If I define 2 classes in separate files, without export nor import everything works fine (are global variables), the problem comes when I try to use export/import (mainly for testing purposes using ts) that export is being transpiled into export.Foo

While export is indeed a global variable, Foo is not, is a parameter of the global object export, so calling Foo directly from a separate file won't

[2019-03-12 22:34] PopGoesTheWza commented on #26
@angrykoala Probably the confusion is that, in the context of node or browser environnemment, `import`/`export` not only define a namespace to hold statements, but mostly the dynamic for "loading" resource.
With the current gas engine, all `.gs` files exist in the very same global namespace (gas library being sort of an exception and instantiated in their own namespace) and thus `import` doesn't m

[2019-03-13 13:15] jakenjarvis commented on #27
There seems to be a misunderstanding, but I created a sample repository just to convey you this issue.

I know that filePushOrder exists in the config. It is actually specified in this sample, but it does not seem to work effectively. Also, when the number of files increases, manual priority setting is very troublesome.(I know I don't have to specify all the files)

[ProjectAbnormal/.clasp.json](h

[2019-03-13 14:41] PopGoesTheWza commented on #23
@grant from my research and understanding, there is no simple solution to this (limited) issue. Hence, I will close it for the time being.

[2019-03-13 14:41] #23 closed

[2019-03-13 15:05] PopGoesTheWza commented on #27
@jakenjarvis can you please share a link to the gas project that I can inspect?

Also I need to ask you, why do you use `import` and `export` statements?
In a gas environment, `export` is only useful but when creating a gas library, while `import` can be useful to reference a `*.d.ts` which expose definition of a gas library.

If the purpose is to organise your gas code in separate namespaces, I w

[2019-03-13 16:20] jakenjarvis commented on #27
@PopGoesTheWza Thank you for your reply.
This sample presented by me is a simple test case. Please also check the README.

 - case OK:
[ProjectNormal](https://github.com/jakenjarvis/clasp-ts-sample/tree/master/IssueSample/Issue01/ProjectNormal)
[ProjectNormal/README.md](https://github.com/jakenjarvis/clasp-ts-sample/blob/master/IssueSample/Issue01/ProjectNormal/README.md)
[ProjectNormal/sharing ga

[2019-03-13 16:41] PopGoesTheWza commented on #27
@jakenjarvis my knowledge of TypeScript for Google Apps Script is still empirical. Still, from my experience, `export` and `import` should be restricted to producing and consuming gas libraries respectively.

With a "standard" gas project with multiple `*.ts` files resulting in as many `*.gs` scripts, always bear in mind that all your script get added to the same global namespace. To achieve some

[2019-03-14 14:25] jakenjarvis commented on #27
Hi, @PopGoesTheWza

Using a namespace statement will probably not improve the issue.
It's not a TypeScript issue, but a GAS load order issue. A solution is needed for either Clasp or ts2gas.

I have long been familiar with object-oriented programming in other programming languages, and most of my source code is class definitions and Interface definitions. Even when all script files are added to th

[2019-03-16 11:09] jakenjarvis commented on #27
Hi, @PopGoesTheWza @grant

I tried a sample that uses namespace statements, but still this issue is not solved. And I tried a couple of different ways of writing, but they all had the same issue.
Please check each of the following. Please open each GAS script and execute myFunction in code.ts.

This proves that there is no problem in the way of writing.

----

# [Issue01](https://github.com/jakenj

[2019-03-18 17:04] dustinmichels commented on #28
The original error I saw was not in the terminal after running `npm install`, but rather something my IDE (VS Code) flagged about the actual `tsconfig.json` file in my `node_modules/` directory. Since the IDE wasn't complaining about any other files in the node dir, I thought something might be weirdly configured.

I'm having trouble reproducing the error now, though. I apologize for the low-quali

[2019-03-19 02:29] grant commented on #28
That's fine. My terseness is just to triage the issue.
Thanks for using clasp!

[2019-03-20 10:30] PopGoesTheWza commented on #27
Hello @jakenjarvis
I had time to review your (nice) test code and here is my reasoning:

- the **transpiled** TypeScript code for `class AClass extends BClass` requires that the `BClass` **function** is fully defined prior defining the `AClass` **function**. This is called `hoisting` and works as designed (cf. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes#Hoisting)

- i

[2019-03-20 12:48] jakenjarvis commented on #27
@PopGoesTheWza Thank you for your code review. I felt the issue was finally reported to you.

Yes I know it. So I pointed out that the loading order is the issue.

I did not look at it carefully.
If `filePushOrder` is not working properly, there was a issue of path interpretation, so it may be affecting.
The reason I keep using Clasp1.6.3 is because Clasp does not work properly between 1.7.0 and 2

[2019-03-20 13:04] PopGoesTheWza commented on #27
Thanks @jakenjarvis
I am not an expert on `@google/clasp` and merely just a contributor on `ts2gas`
I did my tests with clasp 2.1.0 & ts2gas 1.6.1 and experienced the same mis-ordering issue.

[2019-03-20 13:39] jakenjarvis commented on #27
Thanks @PopGoesTheWza
This issue closes and continues with issue of Clasp.

[2019-03-20 13:39] #27 closed

[2019-03-20 21:24] PopGoesTheWza opened #32 "ts2gas fails with message `Debug Failure. Output generation failed`"
If the compilerOptions `emitDeclarationOnly` is passed with the value `true` (typically by clasp reading the tsconfig.json) then ts2gas fails with message `Debug Failure. Output generation failed`

[2019-03-20 21:59] #32 closed

[2019-03-20 22:03] grant commented on #32
See [`ts2gas@1.6.2`](https://www.npmjs.com/package/ts2gas)

[2019-03-21 11:16] PopGoesTheWza commented on #26
@angrykoala here is the result of transpiling your test case:

First `export`

[code]

The Foo class is defined within a closure which is available as `Foo` from the global namespace

[code]

Then `import`

[code]
The `import` statement is commented out. the Foo class is accessed directly from the global namespace

[code]

Please comment.

[2019-03-21 11:42] angrykoala commented on #26
Hi @PopGoesTheWza
Sorry for taking too long, I've been busy and It's been a long time since I've been working on the appscript project. I think I found the case where I'm still having problems, if you don't mind I'll copy part of the original source code It's troubling me. This problem was found using clasp and ts2gas 1.6.0

**Typescript original snippet**

[code]
_thread_summary_section.ts_

[cod

[2019-03-21 12:07] PopGoesTheWza commented on #26
@grant do you have an opinion about if/how such export/import should be addressed?

[2019-03-21 15:08] JeanRemiDelteil commented on #26
@PopGoesTheWza as @grant already mentioned there are Webpack setup for Google Apps Script.
And it's a much better solution as it completely solve the issue with the module by preserving the private environment of a module.

Right now if I want to write TS code that works when compiled to gas, my editor just display errors everywhere because of no import / exports... Not really usefull !

[2019-03-21 15:37] PopGoesTheWza commented on #26
@JeanRemiDelteil I am dubious about adding webpack to my build process. I manage proper code isolation across many source files by using `namespace` with no problem:

[code]

Namespaces can be defined across multiple files (i.e. the "one file per class" way.) They also can be nested (i.e. Module.Submodule.Class)

[2019-03-21 15:47] PopGoesTheWza commented on #26
One very ugly and kludgy solution, if one has to use `export`/`import`

[code]

[2019-03-21 18:22] grant commented on #26
@PopGoesTheWza I don't know how this should be addressed. Please suggest a solution.

[2019-03-21 18:50] PopGoesTheWza commented on #26
@grant @angrykoala @JeanRemiDelteil

With ts2gas currently build around `ts.transpileModule`, there is **no** hope in having it to modify the output script in a satisfying way.

Going for another approach (TypeScript compiler service if I remember correctly) would be great but is a task I can barely fathom at the moment.

So if we look at we have now:
- Say it does not work and that `ts2gas` will

[2019-03-21 19:11] angrykoala commented on #26
My current workaround (which falls a bit into the "third party packager") but is less ugly than the one mentioned above (imo) it to remove with a regex all the export and export default statements from the ts files before compiling. It is currently working for me using clasp. I would like to have that as a embedded option either in clasp or here, but I understand it may fall out of the scope of bo

[2019-03-22 08:43] PopGoesTheWza commented on #26
Under `@google/clasp` is now documented possible workaround: https://github.com/google/clasp/blob/master/docs/typescript.md

[2019-04-02 08:24] PopGoesTheWza commented on #26
@angrykoala @paxperscientiam could you please comment latest updates and state if your issue has been properly addressed?

[2019-04-02 08:53] angrykoala commented on #26
I haven't had time to test the namespace workaround @PopGoesTheWza

[2019-04-02 14:55] PopGoesTheWza opened #35 "Typescript 3.4 support"
(requires change in package.json and additional test cases)

[2019-04-03 07:46] JeanRemiDelteil commented on #26
@PopGoesTheWza I tested the namespace workaround.
Even if it feels like a hack, it works.

However I had to export/import the namespace because my editor was complaining that it could not find it otherwise:

I would change the demo like following:

[code]

[code]

[2019-04-03 08:39] PopGoesTheWza commented on #26
@JeanRemiDelteil may I ask about your editor and settings? The `namespace` workaround should not required that you export the `namespace` less that you import it.
Could the errors in your editor be related with your `tsconfig.json` or something?

[2019-04-03 09:47] JeanRemiDelteil commented on #26
I'm using Webstorm, and for my test project I don't have a `tsconfig.json` as the editor has TS working by default (it's running the v3.3.3333 of TS)

If it's just a configuration issue, that should not matter.

[2019-04-03 09:54] JeanRemiDelteil commented on #26
Even with the config file recommended in the clasp/ts doc it gives this error:
`TS2304: cannot find name 'Module'` when I don't export/import

[2019-04-03 10:28] PopGoesTheWza commented on #26
@JeanRemiDelteil could you please check with this minimal project?

https://github.com/PopGoesTheWza/gas-ts-namespace

and its associated gas project

https://script.google.com/d/1cfHm55LxxYOQ7uYT8OYCefhZIcQYjQKMD2_NCA335Gnt0W1EV_URzduC/edit?usp=sharing

The only issue I could experiencing is hoisting (using a namespace/module resource before it gets defined)

PS: totally off topic, but you have a

[2019-04-08 07:07] JeanRemiDelteil commented on #26
@PopGoesTheWza I found why I need to import:
In your minimal project, add a sub/ folder in ./src/
add a new .ts file, and write a function that user Module.hello();

For me it worked correctly until I use files in another folder.

[2019-04-08 07:50] PopGoesTheWza commented on #26
@JeanRemiDelteil I updated `gas-ts-namespace` with a module in a subfolder.
For some unknown reason, typescript+vsc was initially confused, but after closing and reopening the project everything was fine in the editor.

Note: for simplicity, this project has matching namespace and file name (i.e. `Module` in Module.ts) but they are totally unrelated and do not need to match.

[2019-04-16 00:34] grant commented on #35
See 3.4.3.

[2019-04-16 00:34] #35 closed

[2019-05-05 17:59] PopGoesTheWza opened #39 "npm package should contains .d.ts files"
This is currently not the case, partly because of `.npmignore`

[2019-05-13 14:41] #39 closed

[2019-05-16 09:39] PopGoesTheWza commented on #26
Request For Comments:

I have put up a repository which illustrate and document what I believe is the best alternative to the lack of support for module.
<https://github.com/PopGoesTheWza/ts-gas-project-starter>

I am very interested in your comments, critics and feedback

[2019-05-24 09:26] PopGoesTheWza opened #41 "stricter `npmignore`"

[2019-07-19 00:39] #41 closed

[2019-07-29 09:15] axtens opened #45 "Improper conversion of [...string]"
In VSCode I have
[code]
ts2gas converts this to
[code]
which fails because slice does not convert string into an array, which reverse() requires. There is a String.prototype.slice but it is not the same as Array.prototype.slice.

[2019-09-22 19:31] PopGoesTheWza commented on #45
@axtens Have you checked if this isn't a known Typescript issue? `ts2gas` only uses Typescript `transpileModule` with sensible presets.

[2020-02-08 13:58] shinout opened #46 "Support transpilation for V8 runtime"
Related to https://github.com/google/clasp/issues/735
https://developers.google.com/apps-script/guides/v8-runtime/migration

Now that we can use V8 runtime in GAS, it's better to generate less-transpiled files for it.
There are some options for the way to support the feature.

1. make "target" option injectable.
2. pass `runtimeType` as the third argument `// type RuntimeType = "V8" | "Rhino"`
3.

[2020-02-14 03:00] PopGoesTheWza commented on #46
I did some tests... <https://docs.google.com/spreadsheets/d/1JIJac5lsS2d1Gm7u8Zk-cLAaGLIxh_wVlU44Iez96bU/edit?usp=sharing>

It looks like the V8 runtime supports all ES2019 features.

`ts2gas` already supports `transpileOptions` as its second argument:

https://github.com/grant/ts2gas/blob/84d2d534769bd202b80e993b8b2309f11ff33add/src/index.ts#L9

So one could use something like:

[code]

But for i

[2020-02-14 23:15] shinout commented on #46
@PopGoesTheWza Thanks:+1: Totally agree with your idea. Also thanks for your contribution.

[2020-02-21 21:09] PopGoesTheWza commented on #46
`ts2gas@3.5.1` released

[2020-02-21 21:09] #46 closed

[2020-02-25 13:20] PopGoesTheWza commented on #45
@axtens Can you provide an update about this issue?

[2020-04-14 18:20] ardent42c commented on #29
This is still happening with ts2gas 3.6.1 and clasp 2.3.0 ! was the fix rolled back??

[2020-05-19 13:17] flaming-codes commented on #45
When using ts2gas 3.6.1 in my project, spreading the string gets handled correctly. I think we can close this issue.

[2020-05-19 13:19] #45 closed

[2020-07-25 21:19] mrts commented on #26
As of today, `import` seems to be mostly working with `clasp` and it claims to use
[code]

Heartfelt thanks for this 🎉 !

---

However, when I include Moment by adding [moment.js](https://github.com/moment/moment/blob/develop/moment.js) and [moment.d.ts](https://github.com/moment/moment/blob/develop/moment.d.ts) to `lib` and import it to a given module in `src` with
[code]
then I get the following

[2020-07-29 23:04] paxperscientiam commented on #26
Hey @mrts , i haven't used this google stuff in a bit, but I've run into something similar. You might have luck by explicitly attaching moment to `globalThis`

[2021-03-03 03:29] Himenon opened #58 "noSubstitutionBeforeBuilder cannot correctly convert try-catch clauses containing asycn / await."
Input Source Code

[code]

Build with ts2gas

[code]

Conversion with [TypeScript Playground](https://www.typescriptlang.org/play?target=1#code/IYZwngdgxgBAZgV2gFwJYHsIwLbFRACgEoYBvAWACgYZkAnMMqmm4Adz2Rg9WQIEYADMKIBuZjAC+MKMGRQAFjAIBTOnXR0SFaiyiYQ6ADYqAdEfQBzVes1iJkqo8pA)

[code]

The judgment here seems to be wrong.

* https://github.com/grant/ts2gas/blob/master/src/index.ts#L168-L177

[2021-03-04 07:14] PopGoesTheWza commented on #58
What is your `ts2gas` use case? There is likely better solution.

For example: https://github.com/PopGoesTheWza/ts-gas-project-starter

[2021-03-04 07:54] PopGoesTheWza commented on #58
Since you are using `async` syntax, I assume you are targeting V8 powered GAS.

Have you tried setting  the `compilerOptions.target` property to `ES2018`,

[code]

[2021-03-04 08:03] PopGoesTheWza commented on #26
@mrts check the `clasp` repos. Some docs was added recently which involved `moment.js` if I remember correctly

[2021-03-04 08:13] Himenon commented on #58
https://github.com/grant/ts2gas/issues/58#issuecomment-790405370

That's true. That seems to be the solution to my problem. Thank you, @PopGoesTheWza !

I will leave the handling of this issue to you.

[2021-03-04 08:16] PopGoesTheWza commented on #58
@Himenon do you confirm that changing the `target` to `ES2018` solved the issue?

[2021-03-04 08:32] Himenon commented on #58
Yes, this issue has been resolved by changing the `target` to `ES2018`.

[2021-03-04 08:33] PopGoesTheWza commented on #58
Neat. Have a great day.

[2021-03-04 08:33] #58 closed

[2021-03-04 11:31] mrts commented on #26
Thanks, I was able to get rid of moment.js meanwhile, so all is well at the moment.

[2021-04-06 22:04] guilhermetod commented on #26
Just in case someone is trying to avoid the problematic syntax.

[code]

[2021-04-08 06:15] furious-luke opened #60 "Requiring tslib in transpiled code"
Hi there! Firstly, thanks a tonne for this great utility and all your hard work, it's much appreciated.

I've been using Google's `clasp` to push TypeScript based Apps Scripts projects, and it was working as expected for a couple of weeks. Then recently I've found that the conversion from TypeScript has begun generating gas code that doesn't work. It seems that there is a line in the transpiled co

[2021-04-08 09:48] PopGoesTheWza commented on #60
The fact that any `tslib` import/require show up in your code is an indication that there is something wrong in you typescript configuration. Most likely this is linked to the script engine you are targeting. By default, `ts2gas` use setup for the legacy **Rhino** engine. It is possible to setup your clasp project to target the newer **V8** engine. I am unsure where it is properly documented, but

[2021-04-09 00:53] furious-luke commented on #60
@PopGoesTheWza Thanks so much for your reply, that's incredibly helpful! You're correct, the issue was related to my `tsconfig.json` setup. I needed to modify the `target` and `lib` settings to ensure polyfills were injected.

Again, thanks for your response!

[2021-04-09 00:53] #60 closed

[2021-07-12 10:32] PopGoesTheWza opened #65 "Latest `ts2gas` crashes `@google/clasp`"
See https://github.com/google/clasp/issues/856

[2021-12-07 18:48] mrts commented on #26
Something changed recently and broke the quite well-functioning import system. I hadn't used `clasp` for a while and when I installed `clasp` into my new computer, cloned my script repository, made a minor change to a TypeScript file and did a `clasp push`, opened the Google Spreadsheet that uses the scripts, I suddenly started getting `ReferenceError: MyImportedModule is not defined` errors.

For

[2021-12-30 13:25] DarekDarecki commented on #26
@mrts I have the same issue, have you found the reason by any chance?

[2021-12-30 17:30] mrts commented on #26
@DarekDarecki, no, I retreated and removed the nice import system... built a poor man's Webpack instead:

1. `cd src && cat *.ts > Bundle.ts`.
2. Manually remove imports and exports from `Bundle.ts`.
3. Modify your `.claspignore` so that only `appsscript.json` and `src/Bundle.ts` are included.
4. `clasp push`.

What a great loss!

[2021-12-30 18:18] PopGoesTheWza commented on #26
@mrts have you tried using namespaces?

To clarify, either go bundling (webpack and all that) or go namespace (like https://github.com/PopGoesTheWza/ts-gas-project-starter)

All else is bound to fail

[2021-12-30 23:22] balloman commented on #26
I'm glad to know I'm not the only one who is experiencing this issue. Almost 3000 lines of apps script code is suddenly broken by ts2gas and I've been pulling my hair out trying to figure out why. Any reason why this broke all of a sudden? How can we revert?

[2021-12-30 23:27] balloman commented on #26
Functions from imported files that used to be transpiled like this `stringifyData(travelData.travelMap, "travelData");` all of a sudden transpile like this: `(0, Util_1.stringifyData)(travelData.travelMap, "travelData");`. and obviously this completely breaks any function that is used from another class

[2021-12-30 23:49] PopGoesTheWza commented on #26
Ok. I think I now do see your issue. Updating clasp/ts2gas/typescript changed your transpiled code in a no longer functioning state.

First, I should restate here: Google App Script do NOT support modules. Never use import/export (except for namespaces)

ts2gas handling of import/export of module is in fact extremely limited, deceitful and a bad idea to start with.

Now the no easy way to possibly

[2021-12-31 02:09] balloman commented on #26
For anyone else experiencing this issue, I was actually able to fix it by explicitly setting the clasp version to 2.3.1 AND setting the typescript version to 4.3.5 in the package.json. Additionally, you can only run clasp locally, as I haven't been able to figure out how to modify dependency versions for global packages. Seems a typescript update has broken the implementation somehow, but this fix

[2021-12-31 18:02] mrts commented on #26
Maybe, but it was working well with clasp 2.3.1 and TypeScript 4.3.5 for both me and @balloman. I would argue that as it did already work, it would be a good idea to build a solid solution upon the working bits instead of abandoning it. But I am grateful for your work and admire it a lot, so I'm actually in no position to argue, so let it pass.

[2021-12-31 18:43] PopGoesTheWza commented on #26
This ‘feature’ is in fact a mirage:
- use the import/export syntax for modules in your .ts source files
- edit the transpiled code to remove any actual module related code
- make the programmer and it’s ide falsely assume they are working with and benefiting from the feature of module
- produce code which usually work, as long as it does not truly rely on the benefits of modules

Currently, GAS do

[2021-12-31 18:58] PopGoesTheWza commented on #26
Trust me, I have given that subject thorough consideration. Unless for use cases that I am unaware of, ts2gas is only meaningful as an easy-setup/quick-start clasp feature. Whenever you hit the need of integrating external modules or want to use typescript feature like incremental builds and project references, your sole viable solution is to manage your compilation/transpilation/bundling separate

[2021-12-31 20:13] mrts commented on #26
Thanks for the thorough explanation!

[2022-06-26 08:25] #65 closed

[2022-11-23 02:31] smcjones opened #71 "function imports are strange"
I wrote a test:

[code]

Here's the output:

[code]

Expected output:

[code]

Alternatively, if `another_place.ts` exports files, a different expectation would be for `another_place.ts` to define `another_place_1` as its export variable:

[code]

Or a namespace...

another_place.ts
[code]

main.ts
[code]